/lab2/Greeter/nbproject/private/
/lab2/Greeter/build/
/lab2/Greeter/dist/
/JUnitLab/JUnit_Sample/nbproject/private/
/JUnitLab/JUnit_Sample/build/
/lab5/RentalAgency/nbproject/private/
/lab5/RentalAgency/build/
/lab5/Sratch/nbproject/private/
/lab5/EnhancedShape/nbproject/private/